@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Styles */
:root {
  --primary-color: #a9d8c8;
  --dark-color: #1d4e89;
  --light-color: #e69ea1;
  --danger-color: #db4372;
  --success-color: #a9d8c8;
  --scuba-color: #dfba47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 1rem;
  grid-column-gap: 10px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 1rem;
}

.container2 {
  max-width: 1300px;
  margin: auto;
  row-gap: 5rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

/* .bottom-nom {
  grid-row-start: 2;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1rem;
} */

.grid {
  display: grid;
  grid-template-rows: min-content;
}

.title-center {
  text-align: center;
  padding: 1rem;
}

.card {
  display: grid;
  min-height: 20vh;
  min-width: 20vh;
  /* grid-row-start: 2; */
}

/* .card-nom {
  min-height: 20vh;
  min-width: 20vh;
} */

/* .all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* div > p {
  text-align: center;
} */

@media (max-width: 700px) {
  .container,
  .container2,
  .wrapper {
    display: inline;
  }

  .navbar {
    display: block;
    text-align: center;
  }
}
